<div class="row">
  <div class="col-xs-8">
    <div class="alert alert-warning" role="alert">
      <span style="display: flex; justify-content: center">
        {{ recipe.name }}
      </span>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-warning dropdown-toggle">
        Manage Recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a (click)="onAddToShoppingList()"
            >Add Ingredients to Shopping List</a
          >
        </li>
        <li><a [routerLink]="['edit']">Edit Recipe</a></li>
        <li><a>Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <img
      [src]="recipe.imagePath"
      alt=""
      class="img-responsive"
      style="
        max-height: 20rem;
        border-radius: 10px;
        border: 2px solid whitesmoke;
      "
    />
  </div>

  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.name }} - {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Description</h3>
    <p>{{ recipe.description }}</p>
  </div>
</div>
