<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onAddItem(f)" #f="ngForm">
      <div class="row">
        <div class="col-xs-4 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            ngModel
            required
          />
        </div>

        <div class="col-xs-4 form-group">
          <label for="amout">Amount</label>
          <input
            type="number"
            id="amount"
            class="form-control"
            name="amount"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"
          />
        </div>

        <div class="col-xs-4" style="margin-top: 2.5%">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-success" type="submit" [disabled]="!f.valid">
              {{ editMode ? "Update" : "Add" }}
            </button>
            <button class="btn btn-danger" type="button">Cancel</button>
            <button class="btn btn-dark" type="button">Clear</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
